.kpi-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.kpi-chart {
  height: 100%;
  background-color: #f8f9fa;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.full-width {
  grid-column: 1 / -1;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 0;
}

.kpi-title {
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.h1 {
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
