.content {
    padding-top: 40px !important;
    padding-left: 0 !important;
}

.content h1 {
    font-size: 40px;
    color: #025283;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}