body {
    background-image: none;
    /*font-family: 'Helvetica Neue', sans-serif;*/
    font-family: Arial, sans-serif;
}

.root {
    padding: 16px;
}

.table-header {
    background-color: rgb(99, 179, 237);
}

.table-header th {
    font-size: 18px;
    padding: 8px 16px;
    color: white;
    letter-spacing: 0 !important;
}

.table-body td, .table-body th {
    line-height: 1;
    font-size: 15px;
    padding: 2px 16px;
}

.new-proposal-btn {
    display: flex;
    align-items: center;
    background-color: rgb(66, 153, 225);
}

.new-proposal-btn:hover{
    background-color: rgb(99, 179, 237);
}

.btn-icon {
    padding: 0.25rem 0.5rem;
}

.loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
}


.show-table {
    visibility: hidden !important;
    height: 0 !important;
}