.login-page {
    background-image: url('../../../imgs/corna_transplante.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #565353;
}
@media (max-width: 768px) { /* ajuste para dispositivos com largura máxima de 768 pixels */
    .login-page {
        background-position: center 60%;
    }
}

.login-title {
    font-size: 3rem;
  /*
    background: linear-gradient(45deg, rgb(0, 149, 255), #004c8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(52, 111, 148);
    color: #555555;
    */
    color: rgb(52, 111, 148);
}

.login-link-font {
    font-size: 12px;
}