body {
    background-image: none;
    /*font-family: 'Helvetica Neue', sans-serif;*/
    font-family: Arial, sans-serif;
}

.root {
    padding: 16px;
}

.table-header {
    background-color: rgb(99, 179, 237);
}

.table-header th {
    font-size: 16px;
    color: white;
    letter-spacing: 0 !important;
}

.table-body td, .table-body th {
    line-height: 1;
    font-size: 15px;
    padding: 12px 0px !important;
}

.new-proposal-btn {
    display: flex !important;
    align-items: center !important;
    background-color: rgb(66, 153, 225) !important;
}

.new-proposal-btn:hover{
    background-color: rgb(99, 179, 237) !important;
}

.btn-icon {
    padding: 0.25rem 0.5rem;
}


.table-loading-mask {
    position: relative;
}

.table-loading-mask::after {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loading-mask {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.dataTables_filter{
    padding-bottom: 5px;
}

.show-table {
    visibility: hidden !important;
    height: 0 !important;
}